node_modules
# Ignore Environment Secret Files
.env
.env.local
.env.development
.env.production
async-workers/.env
backend-core/.env
spatial-service/.env

# Ignore NestJS Build Outputs
backend-core/dist/
dist/

# Ignore Expo Development Cache
mobile-app/.expo/
.expo/