node_modules
# Ignore Environment Secret Files
.env
.env.local
.env.development
.env.production
async-workers/.env
backend-core/.env
spatial-service/.env

# Ignore NestJS Build Outputs
backend-core/dist/
dist/

# AI weights & temporary large assets
*.pt
*.onnx
*.weights
raw/
public/
downloads/
uploads/
temp/
tmp/
venv/
**/venv/
.env
**/.env
